{% extends 'base.html.twig' %}

{% block title %}TODO application{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to my TODO application !</h1>

    If you already have an account sign in !
    <br/>
    <form action="{{ path('login') }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Submit</button>
    </form>    
    <br/><br/>
    If you don't have an account sign up !
    <br/>
    <a href="{{ path('app_user_new')}}">Sign up page</a>

</div>
{% endblock %}
