{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    <h1>Sign up</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_log') }}">Return to log in page</a>

{% endblock %}
